.daftar-buku {
    flex: 1;
    background: #2f2f2f;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.input-buku {
    background: #4F4F4F;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 75%;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.buku-tersimpan {
    background-color: #4F4F4F;
    padding: 10px 50px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}